@{
    Layout = null;
    ViewBag.Title = "Cambio de Password";
    var n_nombre = ViewBag.n_nombre.ToString();
    var user = HttpContext.Current.Request.QueryString["user"];
}
@if (n_nombre != null) {

}
<link href='@Url.Content("~/Content/css/Universo.css")' type="text/css" rel="stylesheet" />
<br><center><font size="4"> Cambio de Password</font></center><br><br>
@using (Html.BeginForm("CambiarPassword", "Home", FormMethod.Post, new { autocomplete = "off", name = "frmPass", id = "frmPass", target = "_blank" }))
{
    <table width="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
        <tr><td align="right">Usuario:&nbsp;&nbsp;</td><td><b>@n_nombre</b></td></tr>
        <tr>

            <td align=right>Ingresa tu&nbsp;Password:&nbsp;&nbsp; </td>
            <td>
                <input type=password name="txtPassOld">
                <input type="hidden" id=txtUser name=txtUser value="@user" />
            </td>
        </tr>
        <tr>
            <td align="right">Ingresa tu Nuevo Password:&nbsp;&nbsp;</td>
            <td><input type="password" name="txtPassNew1"></td>
        </tr>
        <tr>
            <td align="right">Confirma&nbsp;tu Nuevo Password:&nbsp;&nbsp;</td>
            <td><input type="password" name="txtPassNew2" maxlength="12"></td>

        </tr>
        <tr>
            <td colspan="2"><center><br><input type="submit" value="Cambiar Password" maxlength="12" id="submit1" name="submit1"></center></td>
        </tr>
    </table>
}
<center>
    <br><br><img src='@Url.Content("~/Content/images/key.jpg")' height="164" width="225" align="middle" />
    <br><br><input type="button" value="Cerrar" id="cmdCerrar" name="cmdCerrar" onclick="window.close()" />
</center>

<script type="text/javascript" language="javascript">
    function Enviar() {
        var regVacio = /^\s*$/;
        if ((frmPass.txtPassOld.value) == "" || regVacio.test(frmPass.txtPassOld.value)) {
            alert("Ingresa tu Password Actual");
            frmPass.txtPassOld.focus();
            return false;
        }

        if ((frmPass.txtPassNew1.value) == "" || regVacio.test(frmPass.txtPassNew1.value)) {
            alert("Ingresa tu nuevo Password");
            frmPass.txtPassNew1.focus();
            return false;
        }

        if ((frmPass.txtPassNew1.value) != (frmPass.txtPassNew2.value)) {
            alert("El nuevo Password es diferente");
            frmPass.txtPassNew2.focus();
            return false;
        }
        else {
            return true;
        }
    }
    
    window.onload = function () {
        var imagen = '@Url.Content("~/Content/images/fondo_cabecera.jpg")';
        document.body.style.background = "url('" + imagen + "')";
        var n_nombre =String('@n_nombre');
        if (n_nombre == null || n_nombre == "") {
            var querString=obtenerQueryString('user');
            document.write("<p align='center'><b><font color='red' size='3'>El Usuario " + querString + "  no existe, intente de Nuevo o consulte con el Administrador.<br></font></b></p>");
            alert("Error en el Usuario "+querString+" NO Existe")
            setTimeout('window.close()', 500);
            
        }
    }
    function ajax(url, tipoMetodo, tipoRpta, metodo,form) {   
        var xhr = new XMLHttpRequest();
        xhr.open(tipoMetodo, url, true);
        xhr.responseType = tipoRpta;
        xhr.onreadystatechange = function () {
            if (xhr.status == 200 && xhr.readyState == 4) {
                if (tipoRpta == "" || tipoRpta == "text") {
                    metodo(xhr.responseText, true);
                }
                else {
                    metodo(xhr.response);
                }
            }
        }
        if (tipoMetodo == "post") {
            xhr.send(form);
        } else {
            xhr.send(null);
        }
        
    }
    
    document.getElementById("submit1").addEventListener("click", function (e) {
        e.preventDefault();
        if ((frmPass.txtPassOld.value) == "") {
            alert("Ingresa tu Password Actual");
            frmPass.txtPassOld.focus();
            return false;
        }
        if ((frmPass.txtPassNew1.value) == "") {
            alert("Ingresa tu nuevo Password");
            frmPass.txtPassNew1.focus();
            return false;
        }
        if ((frmPass.txtPassNew1.value) != (frmPass.txtPassNew2.value)) {
            alert("El nuevo Password es diferente");
            frmPass.txtPassNew2.focus();
            return false;
        }
        var urlAction = '@Url.Content("~/Home/CambiarContrasenia")'; 
        var form = new FormData();
        form.append("contrasenia", frmPass.txtPassNew1.value);
        form.append("usuario", frmPass.txtUser.value);
        ajax(urlAction, "post", "json", function (response) {
            var html="<center><font size='3' color='red'>Su password ha sido cambiado con éxito</font></center>";
            html += "<center><br><br><img height='164' src='../Content/images/key.jpg' width='225' align='middle'> ";
            html +="<br><br><input type='button' value='Cerrar' id='cmdCerrar' name='cmdCerrar' onclick='window.close()'></center>";
            if (response != "") {
                console.log(response.filasAfectadas); //{"filasAfectadas":1}    
                document.write(html);
            }
        }, form);
    });

    function obtenerQueryString(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>